/* ~~~~~~~~~~~ Google Fonts ~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* ~~~~~~~~~~~ Common css style start ~~~~~~~~~~~ */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
}

.section-padding{
    padding: 60px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1.main-heading{
    font-size: 52px;
    font-weight: 600;
    color: #2d3436;
}

h2.section-title{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    color: #2d3436;
}

.btn-link{
    text-decoration: none;
    display: inline-block;
    background-color: #0c2461;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform linear .3s;
}

.btn-link:hover{
    transform: scale(1.1);
}
/* ~~~~~~~~~~~ Common css style end ~~~~~~~~~~~ */

/* ~~~~~~~~~~~ Header section start ~~~~~~~~~~~ */
.header-top{
    background-color: #F8EFBA;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.menu-container .logo-title{
    font-size: 22px;
    color: #0c2461;
    font-weight: 600;
}

.menu-container .menu-item ul{
    list-style: none;
}

.menu-container .menu-item ul li{
    display: inline-block;
    margin-left: 15px;
}

.menu-container .menu-item ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #2d3436;
}

.header-text-box .header-text-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
}

.header-text-box .header-text{
    width: 60%;
    margin-right: 20px;
}

.header-text-box .header-img{
    width: 40%;
    text-align: center;
    margin-left: 20px;
}

.header-text-box .header-img img{
    width: 80%;
}
/* ~~~~~~~~~~~ Header section end ~~~~~~~~~~~ */

/* ~~~~~~~~~~~ Brand Section Style Start ~~~~~~~~~~~ */
.brand .brand-items{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    padding: 30px 0;
    border-top: 2px solid #CAD3C8;
    border-bottom: 2px solid #CAD3C8;
}

.brand .brand-items .brand-item{
    text-align: center;
}
/* ~~~~~~~~~~~ Brand Section Style End ~~~~~~~~~~~ */

/* ~~~~~~~~~~~ Product Section Style start ~~~~~~~~~~~ */
.product .product-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product-items .product-item {
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #6e6b6b7a;
}

.product-items img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
}

.product-item .product-title{
    font-size: 26px;
    font-weight: 600;
    margin: 10px 0;
}

.product-item .product-price{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 5px;
}

.product-item .product-ratings .fa-star.filled {
    font-size: 16px;
    color: goldenrod;
}

.product-item .product-ratings .fa-star-half-alt.half {
    font-size: 16px;
    color: goldenrod;
}

.product-item .product-details{
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
}

.product .see-more-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.product .see-more-btn .btn-link{
    background-color: transparent;
    color: #0c2461;
}
/* ~~~~~~~~~~~ Product Section Style end ~~~~~~~~~~~  */

/* ~~~~~~~~~~~ Subscription section style start ~~~~~~~~~~~  */
.subscription{
    background-color: #F8EFBA;
}

.subscription .section-title{
    margin-bottom: 20px;
}

.subscription .sub-title{
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    color: #2d3436;
}

.subscription-form{
    display: flex;
    justify-content: center;
}

.subscription-form .email-field input {
    width: 250px;
    padding: 15px 15px;
    border: 2px solid #182C61;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 15px;
    font-size: 18px;
}

.subscription-form .submit-field button.submit-link {
    padding: 17px 15px;
    border: 0;
    font-size: 18px;
    background-color: #0c2461;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* ~~~~~~~~~~~ Subscription section style end ~~~~~~~~~~~ */

/* ~~~~~~~~~~~ Footer section Style start ~~~~~~~~~~~ */
.footer{
    background-color: #182C61;
    text-align: center;
    padding: 40px 0;
}

.footer .footer-title{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}

.footer .copyright{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.footer .social-icon a{
    color: #fff;
    display: inline-block;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    background-color: #0a3d62;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #fff
}
/* ~~~~~~~~~~~ Footer section Style end ~~~~~~~~~~~ */